include ez_setup.py
include egicon.png
include epigrass.desktop
include INSTALL
include README
include COPYING
recursive-include demos *.py *.epg *.csv *.shp *.shx *.dbf
prune demos/outdata-*
recursive-include Epigrass *
include docs/build/latex/Epigrass.pdf
prune docs/source*


