include ez_setup.py
include egicon.png
include epigrass.desktop
include INSTALL
include README
include COPYING
recursive-include demos *
recursive-include Epigrass *
include docs/build/latex/Epigrass.pdf
include docs/source/*


