
include egicon.png
include epigrass.desktop
include COPYING
recursive-include demos/Florida *.py *.epg *.csv *.shp *.shx *.dbf
recursive-include demos *.py *.epg *.csv *.shp *.shx *.dbf
#prune demos/outdata-*
#prune demos/Florida/outdata-*
recursive-include Epigrass *
include docs/build/latex/Epigrass.pdf
prune docs/source*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
