pandas
geopandas
numpy
dash>=1.10.0
matplotlib
dash_html_components>=1.0.3
dash_core_components>=1.9.0
networkx
plotly
SQLAlchemy>=1.3.8
SQLObject>=3.7.2
tqdm>=4.42.1
Cython>=0.29.16
dbfread>=2.0.7
rpy>=0.99.2
pweave>=0.30.3
fiona